session1_gmailworkflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "f272f8e2-00d1-4c4f-b1d5-89a1a50e5808",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "hV8kV5Z3ezVHSKwv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json[\"snippet\"]}}\n",
        "options": {
          "systemMessage": "You are an AI Assistant for customer support. You must analyze the received email and draft a professional, concise, and helpful response. The user’s original message is below."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "059c7093-6649-4839-8c7c-2eec407976ef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{$node[\"Gmail Trigger\"].json.id}}",
        "message": "={{$node[\"AI Agent\"].json.output}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ],
      "id": "8f03a29c-c4df-4167-adcf-e1411094fd6b",
      "name": "Reply to a message",
      "webhookId": "9b64f8dd-af17-4e1b-8624-ad0678ead737",
      "credentials": {
        "gmailOAuth2": {
          "id": "hV8kV5Z3ezVHSKwv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "af44bd10-4939-4f43-8f98-73ea827ed57b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "k4T0EovZdqnptsfJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ecbfc8f8-b10a-4f40-b491-1589a8de82a5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5abf4596ec62b64bbf9b9742f6dad858e676c65598e84935749dd519d30e589b"
  },
  "id": "oPnvfRfdbkEeuJDB",
  "tags": []
}